*{
    padding: 0;
    margin: 0;
}

.fundo{
    background-image: linear-gradient(45deg,purple,white);
    height: 100vh;
    text-align: center;
    color: white;
}

#title{
    margin: 5px;
}

.tictactoe{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,0.8);
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
}

.placar{
    position: absolute;
    width: 320px;
    height: 35px;
    justify-content: left;
    background-color: rgba(0,0,0,0.8);
    left: 51%;
    top: 18%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    color: white;
    border-radius: 15px;
}

.button{
    font-size: 75px;
    width: 100px;
    height: 100px;
    background-color: rgb(246, 234, 246);
}

.button:hover{
    background-color: rgb(238, 212, 239);
}

.reset{
    position: absolute;
    width: 320px;
    height: 35px;
    top: 82%;
    left: 51%;
    transform: translate(-50%,-50%);
}

#buttonReset{
    width: 320px;
    height: 35px;
    background-color: rgba(0,0,0,0.8);
    color: white;
    font-size: 25px;
}

#buttonReset:hover{
    background-color: rgba(22, 21, 21, 0.8);
}

.ganhou{
    position: absolute;
    width: 320px;
    height: 35px;
    border-radius: 15px;
    background-color: rgba(22, 202, 13, 0.8);
    top: 10%;
    left: 51%;
    transform: translate(-50%,-50%);
    font-size: 25px;
    color: white;
    border-color: rgba(22, 202, 13, 0.8);
}